h1 {color: rgb(104, 76, 40);
    font-family: 'Roboto', sans-serif;
    text-align: center;}

h2 {color: rgb(104, 76, 40);
    font-family: 'Roboto', sans-serif;
    font-size: large;
    text-align: left;
    margin: 1em;}

p  {font-family: 'Roboto', sans-serif;
    margin: 1em;
    text-align: left;}

body {
    padding: 2em;} 

.flex-container {
    display: flex;

    flex-direction: column;
    flex-wrap: wrap;    
    justify-content: space-evenly;
    padding: 2em;
}

.flex-nested-container {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;     
    justify-content: flex-start;
    border: 1px solid; 
}

.flex-container-form {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;     
    justify-content: flex-start;
    border: 1px solid;
     padding: 2em;
  
}


/* This is trick to detect smartphones */
@media all and (pointer:none) , (pointer:coarse) {
    body{background: rgb(230, 238, 241);}

    .flex-container {flex-direction: row;
                    }} 

.myBtn {
    background-color: #d4d4d4;
    color: white;
    padding: 1em;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 8em;}
