h1 {color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-align: center;}

h2 {color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    text-align: left;
    margin-left: 1em;
    margin-right: 1em;
    }

.highlight {
    background: rgb(43, 60, 66);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 10px solid rgb(43, 60, 66); /* This is the only way I found to make the tab touch the container */
    padding: 0.6em;}

p  {font-family: 'Roboto', sans-serif;
    text-indent: 2em;}

article {font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-size: larger;
    text-align: left;
    line-height : 1.5em;
    flex: 1;
    max-width: 40%;}
 
img {
    flex: 1;
    max-width: 60%;
    border-radius: 10px;} 

body {
    padding: 3em;} 

.flex-container {
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 3em;
    padding: 3em;
    margin-bottom: 3em;
    border-radius: 10px;
    box-sizing: border-box;
    background: rgb(43, 60, 66);}